:root {
  --header-color: #242424;
  --title-font: 'Engagement', cursive;
  --title-color: #Ffffff;
  --book-color: #fff;
  --language-font-size: 21px;
  --alert-color: #C11641;
}

* {
  font-family: 'Source Serif Pro', serif;
}

/* ---------------*/
/* --- HEADER --- */
/* ---------------*/

.header {
  background-color: var(--header-color);
  box-shadow: 0px 3px 10px #333;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  top: 0;
}

.header .book {
  background-color: var(--alert-color);
  color: var(--book-color);
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
  border-radius: 1px;
  border: 1px solid var(--alert-color);
  box-shadow: 0px 5px 10px black;
  height: 45px;
  width: 150px;

  transition: 0.5s;
}
.header .book:hover {
  box-shadow: 0px 10px 20px black;
  margin-bottom: 5px;
}

.header .home {
  color: var(--alert-color);
  line-height: 70px;
  text-align: center;
  width: 10%;
  font-size: 3vw;
  text-shadow: 0px 5px 10px black;

  transition: 0.5s;
}
.header .home:hover {
  margin-bottom: 5px;
  text-shadow: 0px 10px 20px black;
}
.header button {
  border-style: none;
  background-color: Transparent;
}

.header .language {
  font-size: var(--language-font-size);
  width: 10%;
}

.header .language button {
  background-color: Transparent;
  border-style: none;
  font-size: var(--language-font-size);
}

.header .left-cont, .right-cont {
  display: flex;
  justify-content: space-around;

  width: 34%;
}
.header .left-cont button, .right-cont button {
  background-color: Transparent;
  border: none;
  color: white;
  font-size: 1em;

  transition: 0.5s;
}
.header .left-cont button:hover, .right-cont button:hover {
  font-size: 0.9em;
}

@media screen and (max-width: 581px) {
  .header {
    height: 100px;
    border-radius: 0px 0px 5px 5px;
  }

  .header .book {
    top: 65px;
    width: 100%;
    right: 0px;
    transform: translateY(0%);
  }

  .header .language {
    top: 30%;
    left: 15px;
  }
}


/* ------------------- */
/* ------ INTRO ------ */
/* ------------------- */
.intro {
  position: relative;
  /*background-color: gray;*/
  height: 800px;
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  transform-style: preserve-3d;
  perspective: 1px;
}

.intro .bg-image {
  position: absolute;
  z-index: -1;
  min-width: 1200px;
  width: 100%;
  height: auto;
  transform: scale(1.5);
  /*filter: grayscale(50%);*/
}

.intro .title{
  padding-top: 200px;
  font-size: 4em;
  color: var(--alert-color);
}
.intro .stars {
  margin-top: -10px;
}
.intro .tagline {
  margin-top: 150px;
  font-size: 2em;
}
.intro .description {
  font-size: 1em;
}
.intro .scroll {
  margin-top: 100px;
}

/* ------------------- */
/* --- DESCRIPTION --- */
/* ------------------- */
.intro-text-container {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}
.intro-text-container .intro-text {
  width: 50%;
  color: #565656;
  text-align: center;
  font-size: 1.2em;
}
.intro-text-container .intro-text .title {
  font-size: 1.8em;
  color: var(--alert-color);
}


/* ------------------- */
/* - ROOMS --- */
/* ------------------- */
.room-item {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  box-shadow: 0px 0px 10px black;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.room-item .title {
  font-size: 3em;
  text-aling: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.room-item .description {
  margin-bottom: 30px;
  text-align: center;
  color: #565656;
  font-size: 1.8em;
}
.room-item .picture-container {
  display: flex;
  justify-content: space-around;
}
.room-item .picture-container img {
  width: 30%;
}


/* ------------------- */
/* --- RESTAURANT --- */
/* ------------------- */
.restaurant-item {
  margin-top: 100px;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-around;
}
.restaurant-item .picture-container {
  width: 64%;
  overflow: hidden;
}
.restaurant-item .picture-container img{
  position: relative;
  bottom: 200px;
  min-width: 650px;
  width: 100%;
  min-height: 100%;
}
.restaurant-item .text-container {
  color: black;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.restaurant-item .text-container .detail-button {
  margin-bottom: 0;
}
.restaurant-item .text-container .title {
  font-size: 3em;
}
.restaurant-item .text-container .description{
  color: #565656;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 100px;
}




/* ------------------- */
/* - DETAIL BUTTON --- */
/* ------------------- */
.detail-button {
  border-style: none;
  box-shadow: 0px 5px 10px black;
  color: white;
  background-color: var(--alert-color);
  font-size: 2em;

  height: 50px;
  width: 130px;
  margin: 40px;

  transition: 0.5s;
}
.detail-button:hover {
  box-shadow: 0px 10px 20px black;
}

/* ------------------- */
/* ---- CONTACTS ----- */
/* ------------------- */
.contact {
  position: relative;
  top: 500px;
  width: auto;
  text-align: center;
  color: black;

}

.contact img {
  position: absolute;
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.contact .title {
  font-size: 3em;
  padding-top: 100px;
  font-family: 'Source Serif Pro', serif;
}

.contact .description {
  font-size: 2em;
  padding-bottom: 50px;
  font-family: 'Source Serif Pro', serif;
}

.contact .contacts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;

  width: 650px;
}
.contact .contacts .phone .number {
  font-size: 1.5em;
  font-family: 'Source Serif Pro', serif;
}
.contact .contacts .email .address {
  font-size: 1.5em;
  font-family: 'Source Serif Pro', serif;
}

.contact iframe {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  border-width: 0px;
}

.contact .detail-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



/* ------------------- */
/* ----- FOOTER ------ */
/* ------------------- */
.home {
  position: relative;
  height: 100%;
}
.footer {
  position: relative;
  width: 100%;
  height: 200px;

}

