:root {
  --header-color: #000;
  --title-font: 'Engagement', cursive;
  --title-color: #Ffffff;
  --book-color: #FFA41B;
  --language-font-size: 14px;
}

/* ---------------*/
/* --- HEADER --- */
/* ---------------*/

.header {
  background-color: var(--header-color);
  box-shadow: 0px 3px 10px #333;

  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
}

.header .hotel-criss {
  font-family: var(--title-font);
  font-size: 35px;
  text-align: center;
  color: var(--title-color);
}

.header .hotel-stars {
  width: 70px;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7px;
}

.header .book {
  background-color: Transparent;
  color: var(--book-color);
  font-family: 'Source Serif Pro', serif;
  font-size: 21px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 130px;
  height: 35px;
  border: 2px solid orange;
  border-radius: 5px;
  transition: 0.5s;
}
.header .book:hover {
  border-color: black;
  background-color: orange;
  color: black;
}

.header .language {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;

  font-size: var(--language-font-size);
}

.header .language button {
  background-color: Transparent;
  border-style: none;

  font-size: var(--language-font-size);
}

@media screen and (max-width: 581px) {
  .header {
    height: 100px;
    border-radius: 0px 0px 5px 5px;
  }

  .header .book {
    top: 65px;
    width: 100%;
    right: 0px;
    transform: translateY(0%);

  }

  .header .language {
    top: 30%;
    left: 15px;
  }
}


/* ------------------- */
/* --- DESCRIPTION --- */
/* ------------------- */

.description .text {
  position: absolute;
  text-align: center;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);

  color: black;
  width: 40vw;
}

.description .break {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  top: 250px;
}

@media screen and (max-width: 581px) {
  .description .break {
    top: 350px;
  }

  .description .text {
    top: 150px;
    width: 60vw;
  }
}


/* ------------------- */
/* --- CONTAINERS  --- */
/* ------------------- */
.frame {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 350px;
}

.frame .container {
  /*background-color: gray;*/

  width: 650;
  height: 720px;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.frame .container .right{
  width: 315px;
  height: 400px;
  background-color: blue;
  overflow: hidden;

  box-shadow: 0px 3px 5px #444;
}
.frame .container .right .room-right {
  position: relative;
  transform: scale(0.8);
  right: 200px;
  bottom: 80px;
}

.frame .container .bottom{
  width: 650px;
  height: 300px;
  background-color: yellow;
  margin-top:10px;

  overflow: hidden;
  box-shadow: 0px 3px 5px #444;
}
.frame .container .bottom .room-bot {
  position: relative;
  transform: scale(0.9);
  right: 80px;
  bottom: 180px;
}

.frame .container .left {
  width: 315px;
  height: 400px;
  /*background-color: red;*/

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}

.frame .container .left .picture {
  width: 315px;
  height: 145px;
  background-color: #222;

  box-shadow: 0px 3px 5px #444;
  overflow: hidden;
}
.frame .container .left .picture .room-block {
  position: relative;
  transform: scale(0.45);
  right: 240px;
  bottom: 195px;
}
.frame .container .left .text{
  width: 315px;
  height: 225px;
}

.frame .container .left .text .title {
  color: black;
  font-size: 3em;
}
.frame .container .left .text .description {
  margin-top: 10px;
  color: black;
  font-size: 1em;
}

/* ---- RESTAURANT ITEM -----*/
.frame .container .right .rest-right {
  position: relative;
  transform: scale(0.22);
  bottom: 850px;
  right: 600px;
}
.frame .container .left .rest-left {
  position: relative;
  transform: scale(0.2);
  bottom: 500px;
  right: 640px;
}
.frame .container .bottom .rest-bot {
  position: relative;
  transform: scale(0.33);
  bottom: 600px;
  right: 690px;
}

/* ---- RESTAURANT ITEM -----*/
.frame .container .bottom .conf-bot {
  position: relative;
  transform: scale(0.35);
  bottom: 550px;
  right: 700px;
}
.frame .container .right .conf-right {
  position: relative;
  transform: scale(0.3);
  bottom: 480px;
  right: 740px;
}
.frame .container .left .conf-left {
  position: relative;
  transform: scale(1.1);
  left: 10px;
  bottom: 50px;
}

/* ---- OFFER ITEM -----*/
.frame .container .left .offer-left {
  position: relative;
  transform: scale(0.35);
  right: 320px;
  bottom: 290px;
}
.frame .container .right .offer-right {
  position: relative;
  transform: scale(0.6);
  bottom: 300px;
  right: 160px;
}
.frame .container .bottom .offer-bot {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 80px;
}

/* ------------------- */
/* - DETAIL BUTTON --- */
/* ------------------- */
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-button {
  align-self: flex-end;
  width: 100px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin-top: 20px;

  color: black;
  border: 2px solid black;
  font-size: 2em;

  transition: 0.4s;
}
.detail-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}


/* ------------------- */
/* ---- CONTACTS ----- */
/* ------------------- */
.contact {
  position: relative;
  top: 500px;
  width: auto;
  text-align: center;
  color: black;

}

.contact img {
  position: absolute;
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.contact .title {
  font-size: 3em;
  padding-top: 100px;
  font-family: 'Source Serif Pro', serif;
}

.contact .description {
  font-size: 2em;
  padding-bottom: 50px;
  font-family: 'Source Serif Pro', serif;
}

.contact .contacts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;

  width: 650px;
}
.contact .contacts .phone .number {
  font-size: 1.5em;
  font-family: 'Source Serif Pro', serif;
}
.contact .contacts .email .address {
  font-size: 1.5em;
  font-family: 'Source Serif Pro', serif;
}

.contact iframe {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  border-width: 0px;
}

.contact .detail-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



/* ------------------- */
/* ----- FOOTER ------ */
/* ------------------- */
.home {
  position: relative;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;

  background-color: black;
}

