:root {
  --header-color: #242424;
  --title-color: #Ffffff;
  --book-color: #fff;
  --language-font-size: 21px;
  --alert-color: #C11641;
  --desc-font-size: calc(1.2vw + 12px);
  --title-font-size: calc(3vw + 12px);
  --even-panel-color: #eeeeee;
}

* {
  font-family: 'Source Serif Pro', serif;
}

/* ---------------*/
/* --- HEADER --- */
/* ---------------*/

.header {
  background-color: var(--header-color);
  box-shadow: 0px 3px 10px #333;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  top: 0;
}

.header .book {
  background-color: var(--alert-color);
  color: var(--book-color);
  font-family: 'Source Serif Pro', serif;
  font-size: 2em;
  border-radius: 1px;
  border: 1px solid var(--alert-color);
  box-shadow: 0px 5px 10px black;
  height: 45px;
  width: 150px;

  transition: 0.5s;
}
.header .book:hover {
  box-shadow: 0px 10px 20px black;
  margin-bottom: 5px;
}

.header .home {
  color: var(--alert-color);
  line-height: 70px;
  text-align: center;
  width: 10%;
  font-size: 3em;
  text-shadow: 0px 5px 10px black;

  transition: 0.5s;
}
.header .home:hover {
  margin-bottom: 5px;
  text-shadow: 0px 10px 20px black;
}
.header button {
  border-style: none;
  background-color: Transparent;
}

.header .language {
  font-size: var(--language-font-size);
  width: 10%;
}

.header .language button {
  background-color: Transparent;
  border-style: none;
  font-size: var(--language-font-size);
}

.header .left-cont, .right-cont {
  display: flex;
  justify-content: space-around;

  width: 34%;
}
.header .left-cont button, .right-cont button {
  background-color: Transparent;
  border: none;
  color: white;
  font-size: 1em;

  transition: 0.5s;
}
.header .left-cont button:hover, .right-cont button:hover {
  font-size: 0.9em;
}

@media screen and (max-width: 581px) {
  .header {
    height: 100px;
    border-radius: 0px 0px 5px 5px;
  }

  .header .book {
    top: 65px;
    width: 100%;
    right: 0px;
    transform: translateY(0%);
  }

  .header .language {
    top: 30%;
    left: 15px;
  }
}


/* ------------------- */
/* ------ INTRO ------ */
/* ------------------- */
.intro {
  position: relative;
  /*background-color: gray;*/
  height: 800px;
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  transform-style: preserve-3d;
  perspective: 1px;
}

.intro .bg-image {
  position: absolute;
  z-index: -1;
  min-width: 1280px;
  width: 100%;
  height: auto;
  transform: scale(1.5);
  /*filter: grayscale(50%);*/
}

.intro .title{
  padding-top: 200px;
  font-size: 4em;
  color: var(--alert-color);
}
.intro .stars {
  margin-top: -10px;
}
.intro .tagline {
  margin-top: 150px;
  font-size: 2em;
}
.intro .description {
  font-size: 1em;
}
.intro .scroll {
  margin-top: 100px;
}

/* ------------------------- */
/* --- INTRO DESCRIPTION --- */
/* ------------------------- */
.intro-text-container {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}
.intro-text-container .intro-text {
  width: 50%;
  color: #565656;
  text-align: center;
  font-size: var(--desc-font-size);
}
.intro-text-container .intro-text .title {
  font-size: 1.8em;
  color: var(--alert-color);
}


/* ------------------- */
/* - ROOMS --- */
/* ------------------- */
.room-item {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  box-shadow: 0px 0px 10px black;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.room-item .title {
  font-size: calc(3vw + 12px);
  text-aling: center;
  margin: 3vw;
}
.room-item .description {
  margin-bottom: 5vw;
  width: 50%;
  text-align: center;
  color: #565656;
  font-size: var(--desc-font-size);
}
.room-item .picture-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.room-item .picture-container img {
  width: 30%;
}


/* ------------------- */
/* --- RESTAURANT --- */
/* ------------------- */
.restaurant-item {
  margin-top: 10vw;
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: space-around;
}
.restaurant-item .picture-container {
  width: 64%;
  overflow: hidden;
  height: 100%;
  box-shadow: 0px 2px 10px black;
}
.restaurant-item .picture-container img{
  position: relative;
  bottom: 20%;
  width: 100%;
}
.restaurant-item .text-container {
  color: black;
  width: 30%;
  min-width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.restaurant-item .text-container .detail-button {
  margin-bottom: 0;
}
.restaurant-item .text-container .title {
  font-size: var(--title-font-size);
}
.restaurant-item .text-container .description{
  color: #565656;
  font-size: var(--desc-font-size);
  text-align: center;
}


/* ------------------------- */
/* --- CONFERENCE --- */
/* ------------------------- */
.conference-item {
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  box-shadow: 0px 0px 10px black;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.conference-item .top,
.conference-item .bottom {
  width: 100%;
  height: 35vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.conference-item .top {
  margin-top: 5vw;
}
.conference-item .bottom {
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.conference-item .top .text-container,
.conference-item .top .picture-container {
  width: 48%;
  height: 100%;
  overflow: hidden;
}
.conference-item .top .picture-container {
  box-shadow: 0px 3px 10px black;
}
.conference-item .bottom .left-picture-container,
.conference-item .bottom .right-picture-container {
  box-shadow: 0px 3px 10px black;
  width: 48%;
  height: 100%;
  background-color: red;
  overflow: hidden;
}
.conference-item .top .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.conference-item .top .text-container .title {
  font-size: var(--title-font-size);
  color: black;
}
.conference-item .top .text-container .description {
  font-size: var(--desc-font-size);
  text-align: center;
  color: #565656;
}

.conference-item .top .picture-container img {
  height: 100%;
}
.conference-item .bottom .left-picture-container img {
  height: 100%;
}
.conference-item .bottom .right-picture-container img {
  height: 100%;
}

/* ------------------- */
/* - DETAIL BUTTON --- */
/* ------------------- */
.detail-button {
  border-style: none;
  box-shadow: 0px 5px 10px black;
  color: white;
  background-color: var(--alert-color);
  font-size: 2em;

  height: 50px;
  width: 130px;
  margin: 3vw;

  transition: 0.5s;
}
.detail-button:hover {
  box-shadow: 0px 10px 20px black;
}

/* ------------------- */
/* ---- CONTACTS ----- */
/* ------------------- */
.contact {
  width: 100%;
  text-align: center;
  color: black;
  margin-bottom: 5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact img {
  width: 250px;
  margin-bottom: 5vw;
}

.contact .title {
  font-size: var(--title-font-size);
}

.contact .description {
  font-size: var(--desc-font-size);
  margin-bottom: 5vw;
}

.contact .contacts {
  display: flex;
  justify-content: space-between;

  width: 50%;
}
.contact .contacts .phone .number {
  font-size: var(--desc-font-size);
  color: var(--alert-color);
}
.contact .contacts .email .address {
  font-size: var(--desc-font-size);
  color: var(--alert-color);
}

.contact iframe {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  border-width: 0px;
}

/* ------------------- */
/* ----- FOOTER ------ */
/* ------------------- */
.footer {
  width: 100%;
  height: 30vw;

  background-color: #333;
}

