body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Text Me One", "sans-serif";
}

.roomContainer {
  background-color: white;
  padding-top: 5em;
  padding-left: 1em;
  width: 100%;
  height: 60vw;
}

.roomContainer .room {
  float: left;
  margin: 10px;
}


.doorImage img{
  width: 10vw;

  height: auto;
  box-shadow: 0px 2px 10px black;
  transition: 0.3s;
}
.doorImage img:active{
  box-shadow: 0px 0px 20px white;
  border-radius: 10px;
}

.room {
  position: relative;
}

.room .text {
  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 0.5em;
  transform: translate(-50%);
  font-size: 3em;
  color: white;
}


/* CONFIRM PANEL */

.confirmPanel {
  position: absolute;
  background-color: white;
  width: 40em;
  height: 13em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 5px 15px #222222;
}

.confirmPanel h1{
  position: relative;
  text-align: center;
  top: -10px;
  font-size: 42px;
}

.confirmPanel button {
  position: absolute;
  background-color: white;
  width: 24em;
  height: 6em;
  bottom: 1em;
  border-radius: 8px;
  box-shadow: 0px 3px 12px #666666;
  transition: 0.4s;
}
.confirmPanel button:active{
  background-color: #FFEECA;
}

.confirmPanel .yes {
  left: 1em;
}
.confirmPanel .no{
  right: 1em;
}
.confirmPanel p{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -35px;
  font-size: 42px;
}
